/* Theme 3: Ocean Blue */
html.aesthetic-theme3 {
    --el-color-primary: #0369a1;
    --el-color-primary-light-3: #38bdf8;
    --el-color-primary-light-5: #7dd3fc;
    --el-color-primary-light-7: #bae6fd;
    --el-color-primary-light-8: #e0f2fe;
    --el-color-primary-light-9: #f0f9ff;
    --el-color-primary-dark-2: #075985;
    --el-color-primary-rgb: 3, 105, 161;
    --sidebar-active-text-color: #0369a1;
    --sidebar-logo-text-color: #0369a1;
    --sidebar-hover-bg: #f0f9ff;
    --sidebar-submenu-hover-bg: #f8fafc;

    &.dark {
        --sidebar-hover-bg: rgba(3, 105, 161, 0.12);
        --sidebar-submenu-hover-bg: rgba(3, 105, 161, 0.06);
        --sidebar-active-text-color: #7dd3fc;
        --sidebar-logo-text-color: #7dd3fc;
    }
}