/* Theme 1: Vibrant Mint (Default Base) */
html {
    --el-color-primary: #00b074;
    --el-color-primary-light-3: #4dcd9d;
    --el-color-primary-light-5: #80dfbc;
    --el-color-primary-light-7: #b3f1db;
    --el-color-primary-light-8: #ccf6e9;
    --el-color-primary-light-9: #e6fbf4;
    --el-color-primary-dark-2: #008d5d;
    --el-color-primary-rgb: 0, 176, 116;
    --sidebar-active-text-color: #00b074;
    --sidebar-logo-text-color: #00b074;
    --sidebar-hover-bg: #f5fbf9;
    --sidebar-submenu-hover-bg: #f9fdfc;

    --el-color-success: #00b074;
    --el-color-warning: #ffb02b;
    --el-color-danger: #ff5b5b;
    --el-color-error: #ff5b5b;

    &.dark {
        --sidebar-hover-bg: rgba(0, 176, 116, 0.12);
        --sidebar-submenu-hover-bg: rgba(0, 176, 116, 0.06);
        --sidebar-active-text-color: #00b074;
        --sidebar-logo-text-color: #00b074;
    }
}