@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #00B074,
        ),
        'success': ('base': #00B074,
        ),
        'warning': ('base': #FFB02B,
        ),
        'danger': ('base': #FF5B5B,
        ),
        'error': ('base': #FF5B5B,
        ),
    ),
    $border-radius: ('base': 16px,
        'small': 8px,
        'round': 32px,
    ),
    $button-border-radius: ('base': 12px,
    ));