// cover some element-ui styles

:root {
  --el-transfer-panel-width: auto;
}

.el-transfer-panel {
  --el-transfer-panel-width: auto;
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

.el-table .el-table__cell {
  z-index: auto;
}

$--input-small-height: 30px !default;

$--button-small-padding-vertical: 8px !default;
/// padding||Spacing|3
$--button-small-padding-horizontal: 12px !default;

$--font-path: '~element-plus/lib/theme-chalk/fonts';