// sidebar - Sedap Aesthetic
$menuText: #707070;
$menuActiveText: #00B074;
$subMenuActiveText: #00B074;

$menuBg: #ffffff;
$menuHover: #e6f7f1;

$subMenuBg: #ffffff;
$subMenuHover: #f5fbf9;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}